* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

main {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.section-todo-creation,
.section-todo-filter,
.section-todo-production {
  width: 100%;
  backdrop-filter: blur(20px);
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.section-todo-creation {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  border-radius: 16px;
  margin-bottom: 8px;
}

.section-todo-creation--form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.section-todo-creation--form-input,
.section-todo-creation--form-btn {
  width: 100%;
  font-size: 18px;
  border-radius: 8px;
}

.section-todo-creation--form-input {
  padding: 14px;
  color: #24243e;
  border: none;
  outline: none;
  transition: all 0.5s;
}

.section-todo-creation--form-input:focus {
  transform: scale(1.04);
}

.section-todo-creation--form-btn {
  padding: 17px;
  margin: 8px 0 0 0;
  border: none;
  cursor: pointer;
  background-color: #24243e;
  transition: all 0.3s;
}

.section-todo-filter {
  padding: 16px 4px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.section-todo-filter--form-select {
  padding: 12px;
  font-size: 20px;
  border-radius: 8px;
  width: 100%;
  color: white;
  outline: none;
  backdrop-filter: blur(20px);
  background: rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.section-todo-filter--form-select option {
  color: inherit;
}

.section-todo-production {
  padding: 32px 4px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: none;
}

.section-todo-production--list {
  list-style: none;
  width: 100%;
}

.section-todo-production--list-item {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 8px;
  opacity: 0;
  background: rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.section-todo-production--list-item:first-of-type {
  margin-top: 18px;
}

.section-todo-production--list-item-text {
  padding: 20px;
  margin-bottom: 4px;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.045);
  text-align: center;
  word-wrap: break-word;
}

.section-todo-production--list-item-btns {
  display: flex;
  justify-content: space-between;
}

.section-todo-production--list-item-btns button {
  padding: 12px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s;
  background-color: #24243e;
  border: none;
  cursor: pointer;
}

.section-todo-creation--form-btn:hover,
.section-todo-production--list-item-btns button:hover {
  transform: scale(1.03);
}

.section-todo-creation--form-btn:active,
.section-todo-production--list-item-btns button:active {
  transform: scale(0.98);
}

button:hover {
  background-color: #211b59;
}

.done-btn {
  margin-left: 4px;
}

.show-todo {
  opacity: 1;
  transition: all 1s ease-in;
}

.removed-todo {
  opacity: 0;
  transition: all 0.6s;
}

.finished-todo {
  background-color: rgba(77, 255, 0, 0.2);
  transition: all 0.8s;
}

.finished-todo h2 {
  text-decoration: line-through;
}

.finished-todo .done-btn {
  display: none;
}

.finished-todo .delete-btn {
  margin: 0;
}

.empty-todo-list-text {
  text-align: center;
  font-size: 20px;
  opacity: 1;
  transition: all 0.3s;
}

.remove-opacity {
  opacity: 0;
}

.invisible {
  display: none;
}

.empty-input {
  margin: 4px 0;
  font-size: 20px;
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

.already-exists-todo {
  margin: 4px 0;
  font-size: 20px;
  display: none;
  opacity: 0;
  transition: all 0.3s;
}

.error-text {
  display: block;
  color: red;
  font-weight: bold;
}

.show {
  opacity: 1;
}

img {
  filter: contrast(1%);
}

@media (min-width: 425px) {
  .section-todo-production--list-item-text {
    font-size: 18px;
  }
  .section-todo-creation--form-input {
    font-size: 22px;
  }

  .section-todo-creation--form-btn {
    font-size: 20px;
  }
}

@media (min-width: 598px) {
  header {
    font-size: 2rem;
  }
  .section-todo-creation,
  .section-todo-filter,
  .section-todo-production {
    width: 598px;
  }

  .section-todo-creation--form {
    flex-direction: row;
    justify-content: center;
  }
  .section-todo-creation--form-input {
    padding: 16px;
    width: 55%;
  }
  .section-todo-creation--form-btn {
    width: 30%;
    margin: 0 0 0 8px;
    padding: 19px;
  }

  .section-todo-filter {
    display: flex;
    justify-content: center;
  }

  .section-todo-filter--form {
    width: 450px;
  }

  .section-todo-filter--form-select {
    font-size: 18px;
  }

  .section-todo-production {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-todo-production--list {
    list-style: none;
    width: 90%;
  }

  .section-todo-production--list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;
    max-height: 0;
  }

  .section-todo-production--list-item-text {
    font-size: 16px;
    padding: 16px;
    background-color: transparent;
    max-width: 70%;
    text-align: left;
  }

  .section-todo-production--list-item-btns button {
    padding: 22px;
  }

  .section-todo-filter--form-select {
    margin: 0;
  }

  .show-todo {
    max-height: 999rem;
  }
  
  .removed-todo {
    max-height: 0;
  }

  .empty-input,
  .already-exists-todo {
    position: absolute;
    bottom: 0;
    left: 120px;
    margin: 4px 0;
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .section-todo-creation,
  .section-todo-filter,
  .section-todo-production {
    width: 750px;
  }
  .section-todo-filter--form {
    width: 550px;
  }

  .section-todo-filter--form-select {
    font-size: 20px;
  }

  .empty-input,
  .already-exists-todo {
    left: 160px;
    font-size: 22px;
  }
}

@media (min-width: 1024px) {
  .section-todo-creation,
  .section-todo-production,
  .section-todo-filter {
    width: 1008px;
  }

  .section-todo-creation--form {
    flex-direction: row;
    justify-content: center;
  }
  .section-todo-creation--form-input {
    width: 50%;
    font-size: 26px;
    padding: 20px;
  }
  .section-todo-creation--form-btn {
    width: 25%;
    margin: 0 0 0 8px;
    font-size: 24px;
    padding: 22px;
  }

  .section-todo-creation--form-select {
    padding: 22px;
  }

  .section-todo-filter--form {
    width: 700px;
  }

  .section-todo-filter--form-select {
    padding: 16px;
    font-size: 22px;
  }

  .section-todo-production--list-item-btns button {
    padding: 30px;
  }
  .section-todo-production--list-item-text {
    font-size: 20px;
  }
  .empty-todo-list-text {
    font-size: 26px;
  }
  .empty-input,
  .already-exists-todo {
    left: 280px;
    font-size: 24px;
  }
}
